body {
  margin: 0;
  padding: 0;
  background-color: #e4f1f9;
}


.page-main {
    font-family: 'PT Sans', Arial , sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333;
    text-transform: uppercase;
}

html{
    box-sizing:border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
    /* display: flex;
    flex-direction: column; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
}

.logo-sedona {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;


}

.navigation-top {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 56px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    list-style: none;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

li.menu {
    margin: 0px 70px;
}

li.nav-two.menu {
   margin-right: auto;
   margin-left: 75px;

}

li.nav-three.menu {
    margin-left: auto;
    margin-right: 90px;
}

.navigation-top a {
    color: black;
}

.navigation-top a:focus {
    color: #e1e1e1;
}

.navigation-top a:hover {
    color: #8bb9d5;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70px 0 0 0px;

   background-image: url("/img/bgf-welcome.jpg");
  background-position: top -56px center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 508px;

}

.polygon{

    align-self: flex-end;
    height: 57px;

}

.welcome img {
    /* padding-bottom: 79px; */
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
   /*display: block;
   margin-left: auto;
   margin-right: auto;*/

}



.intro  {

   background-color: #ffffff;
   text-align: center;
   vertical-align: middle;
   /* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; */
   height: 216px;
   margin: 0;

 }

 .intro .txt-big {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    margin: inherit;
    padding-top: 61px;
    margin: inherit;
 }

.intro .txt-small {
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    margin: inherit;
    padding-top: 29px;
}



.benefit-container {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0 auto;
}

/* .benefit-list ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

} */
.benefit-list {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefit-list li {
    list-style: none;
}

.benefit-list .title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
    max-width: 150px;
}

.benefit-list .title-b {
    display: block;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    max-width: 150px;
    margin: 0 auto 24px;
    
}

.banner .title{
    color: #ffffff;
}

.banner {
    color: #ffffff;
    background-color: #81b3d2;
    width: 100%;

    /* margin: 0 auto;  */
}

li.left.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    }

li.right.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   flex-flow: row-reverse;
   text-align: center;


}



.content {

    /* width: 400px; */
    order: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

}

li .content {
    min-width: 0;
    /* margin: 46px auto 64px auto;  проблема с фаерфоксом */
    margin: 0 auto;
    padding: 43px 0 55px;
}

.figure {
    display: block;
    margin-bottom: 15px;
}

img.benefit-img {
    /* width: 800px; */
    order: 2;

}

ul.central {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #ffffff;
    color: #000000;
    width: 100%;
    /* max-height: 330px; */
    /* padding-top: 0;
    padding-bottom: 0; */
    /* padding-left: 10px; */
    padding: 0;

}

li.central-item {
    text-align: center;
    vertical-align: middle;
    align-self: center;
    padding: 59px 0 81px;
    flex-grow: 1;
    background-color: #ffffff;
}

.central-img {
   margin-bottom: 22px;
}

.central-text {
    margin: 0 auto;
    /* max-width: 400px; */
}


.text-item {
    display: block;
    margin: 0 auto;
    max-width: 301px;
}


li.bottom-item  {
    text-align: center;
    vertical-align: middle;
    align-self: center;
    padding: 46px 0 60px;
    flex-grow: 1;
    background-color: #eeeeee;

}


.bottom-text {
    display: block;
    background-color: #eeeeee;
    /* min-width: 0; */
    margin: 0;
}

.bottom-text .figure {
    margin-bottom: 22px;
}

.bottom-text .text-item {
    max-width: 285px;
}

.text-for-form {
    text-align: center;
    background-color: #ffffff;
    /* height: 292px;
    margin: 0px; */
    padding-top: 50px;
}

.form-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    
    margin: 0 0 20px;
}

.text-form {
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 50px;
    /* padding: 28px 0 100px 0 ; */
    
}

.search-button  {
    display: block;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    max-width: 568px;
    margin: 0 auto;

    padding: 30px 0 30px;
}


.image-maps {
    background-image: url(/img/maps.jpg);
    display: block;
    min-height: 473px;
}

form {
    width: 568px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 0 10px #cccccc;
}

.form-block {

    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.form-date {
    margin: 40px 0;
}

.label {
    display: inline-block;
    margin-right: 40px;
}

.form-input {
    display: inline-block;
    padding-right: 40px;
}

.form-quantity {
    margin: 40px 0;
}

.form-quantity-input {
    display: inline-block;
}

label .date-in {
    padding-right: 40px;
}

/* catalog.html */

.filter-section {
    background-image: url("/img/filter-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 217px;
    background-color: #6f98be;
    color: #ffffff;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 21px;
    margin: 0px 65px 0px;

}


p.filter-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin: 0px;
    padding-top: 26px;
}

.filter-items label:last-child {
    padding-bottom: 26px;
}

.filter-items.type {
    margin-right: auto;
}

.filter-items.cost {
    margin-right: ;
    /* margin-left: 140px; */
    margin: 0px 50px 0px;
}

table {
    border: #ffffff 2px solid;
    width: 312px;
    text-align: center;
}

/* отели */

.found-section {
}

.found-item {


}

.found-section ul {
    list-style: none;
    display: flex;

}

.found-item li:not(.down) {
    padding-left: 30px;
}

.up {
    margin-left: auto;
    color: #81b3d2;
}

.down {
    margin-right: 70px;
    color: #81b3d2;
    padding-left: 0px;
}

hr {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    margin: auto;
}

.hotel {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 150px;
}

.hotel-name {
    color: #000000;
    font-size: 21px;

    font-weight: bold;


    margin-right: auto;
}

.hotel-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 72px;
    margin-right: 20px;
    min-height: 90px;
}

.hotel-item-left {
    position: absolute;
    top: 50px;
    left: 230px;

}

.hotel-item-left p,
.hotel-item-right p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.hotel-item-left a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    padding: 8px 17px;

}

.hotel-item-right a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    padding: 8px 16px;
}

.hotel-item-right {
    position: absolute;
    top: 50px;
    left: 344px;
}

.hotel-item-score {
    display: flex;
    flex-flow: column;
}

.hotel-star {
    display: flex;
    margin: 0 auto;
    margin-right: 72px ;
}

.hotel-rating {
    margin-top: 50px;
    margin-right: 72px ;
    background-color: #f2f2f2;
    color: #666666;
    line-height: 21px;
    padding: 5px 13px 6px 16px;
}

.hotel-star .star{
    margin-top: 30px;
    padding: 0;
	font-size: 17px;
	line-height: 1;
	color: #81b3d2;
    align-self: flex-start;
}

.hotel-star > .star:before {
    content: '★';
}

/* футер */
.main-footer {
    background-image: url("/img/footer-bg.png");
    background-position: 0 0;
    background-repeat: repeat;
    
    opacity: 0.9;
    margin: 0;
    padding: 32px 0 35px;
    /* margin-top: 36px; */
}

.main-footer .footer-block {
    display: flex;
    /* justify-content: space-around; */
    
    
}
.contacts{
    width: 300px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    margin: 0;
    margin-left: 125px;
    margin-right: 100px;
    
}


.contacts span {
    display: block;
    margin-bottom: 6px;
}


.social-item {
    
}

.footer-social ul {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    
    background: #81b3d2;
}


.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    width: 211px;
    /* margin: 0; */
    margin-left: auto;
    margin-right: 95px;
}

.copyright .author {
    
    align-self: flex-start;
    
  }

  .copyright .button {
    
  }

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}